#accountInfo {
  border: solid black 1px;
}

.row {
  border: solid black 1px;
}
/*
body {
  background-color: black;
}

* {
  color: white;
}

button, input {
  background-color: black;
  border: white 1px;
}
*/
